ugly-border-color = #444
ugly-border-thickness = 3px
ugly-link-color = #00A8EE
ugly-font = Arial
ugly-font-size = 25px
	
body
	font-family ugly-font
		
main
	border ugly-border-thickness solid ugly-border-color
	border-radius 10px
	width 1060px
	height 765px
	padding 10px
	padding-top 0

ul
	padding-left 200px
	li
		display inline-block
		list-style-type none
	a
		color ugly-link-color
		font-weight bold
		font-size 35px

hr
	width 970px
	border 2px solid ugly-border-color

.wrapper
	float left
	border ugly-border-thickness solid ugly-border-color
	height 650px
	width 690px
	border-radius ugly-border-thickness
	padding 10px

fieldset
	color ugly-border-color
	float left
	padding 10px
	padding-bottom 0
	height 200px
	width 315px
	border ugly-border-thickness solid ugly-border-color
	border-radius 2px
	font-size ugly-font-size
	p
		margin 12px
		text-align right
		padding-right 0
		margin-right 0

legend
	text-align center
	padding-left 10px
	padding-right 10px

img
	width 160px
	float left
	color ugly-border-color

.hardDisc
	display inline-block
	margin-top 25px
	padding-left 0px

.ram
	display inline-block
	padding-left 0px

.price
	display inline-block
	margin 0

.processor
	display inline-block
	margin 0
	padding-left 25px

.price
.processor
	padding-left 27px

.options
	display inline-block
	float left
	width 320px
	height 200px
	padding-left 20px
	padding-top 50px
	padding-bottom 100px

.slider
	p
		font-size ugly-font-size
	input
		width 250px
		margin-left 30px

