html,
body,
div,
ul {
  margin: 0;
  padding: 0;
}
#wrapper {
  background-color: #1e3741;
  font-family: 'Arial';
  width: 750px;
  height: 350px;
  border-radius: 3px;
}
header nav {
  padding: 5px;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  background-color: #4b5f67;
  padding: 5px 10px;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  color: #93aca9;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li#activeNav {
  background: none;
}
header nav ul li#activeNav a {
  color: #fff;
}
section {
  margin: 10px;
}
section ul {
  list-style-type: none;
  color: #a5afb3;
  width: 300px;
  float: left;
}
section ul li {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
section ul li:hover {
  cursor: pointer;
  background-color: #465f69;
}
section ul li:not(:first-child) {
  border: 0 solid #3a4f58;
  border-width: 1px 0 0 0;
  padding: 5px;
}
section ul li#activeNews {
  background-color: #00968c;
  color: #fff;
}
section iframe {
  margin-top: 10px;
  float: left;
}
